{% extends 'base.html' %}

{% block title %}
<title>Add Department</title>
{% endblock %}

{% block style %}
<style>
    /* Custom CSS styles */
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    /* Custom styles for positioning */
    .button-container {
        display: flex;
        justify-content: space-between;
    }
    .btn{
        background-color: blue;
        color:#ffffff;
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2>Add Department</h2>
        <form action="{{ url_for('admin.add_departments') }}" method="POST">
            <div class="form-group">
                <label for="dept_name">Department Name:</label>
                <input type="text" class="form-control" id="dept_name" name="dept_name" required>
            </div>
            <div class="form-group">
                <label for="incharge_id">Department Incharge:</label>
                <select class="form-control" id="incharge_id" name="incharge_id">
                    <option value="">Select Incharge</option>
                    {% for faculty in faculty_details %}
                    <option value="{{ faculty.user_id }}">{{ faculty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Add Department</button>
                <a href="{{ url_for('admin.view_departments') }}" class="btn">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
